<small>Gel de Agarosa</small>
<h2>ELECTROFORESIS TOTALMENTE AUTOMATIZADA</h2>
<ul>
	<li>Un gel en sólo 45 minutos: aproximadamente un resultado de análisis de seroproteínas por minuto.</li>
	<li>Cámara de migración seca con temperatura controlada.</li>
	<li>Alta eficacia en el control de temperatura por Peltier.</li>
	<li>Cámara de migración única en su tipo, con 2 o 3 electrodos.</li>
	<li>Fácil interpretación de los resultados.</li>
	<li>Reporta lo que usted ve, combinado con la inspección visual del gel y el gráfico.</li>
	<li>Portamuestras desechables.</li>
</ul>
<a class="btn btm-primary btn-lg">CONOZCA EL PRODUCTO</a>